.row {
  margin: 0 !important;
  /* margin-top: 2%; */
}
.searchBar {
  max-height: 100vh;
  height: 94vh;
  /* width:; */
  /* border: 1px solid red; */
  /* margin-top: 10%; */
  /* height: 900px; */
}
