.row {
  margin: 0 !important;
}
.searchBar {
  max-height: 100%;
  height: 94vh;

  flex: 1 1 auto;
}

@media screen and (min-width: 900px) and (max-width: 1480px) {
  .searchBar {
    height: 100%;
  }
}
